# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
.venv/

# VS Code settings (optional)
.vscode/

# Environment variables / secrets
.env

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Cache
*.log
*.sqlite3
